:root {
	--padding: 3rem;
}

// default styles

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: inherit;
	background-color: transparent;
	border: none;
}

* + * {
	margin-top: 1.5rem;
}

html {
	background-color: rgb(21, 32, 43);
	color: #fff;
}

#root {
	margin-top: 0;
}

body {
	font-size: 18px;
	font-family: sans-serif;
	overflow: auto;
	margin: 0;
}

h2 {
	font-size: 1.6rem;
}

li {
	padding: 2rem;
	list-style-type: none;
	background-color: rgba(#000, 0.2);
	& + * {
		margin-top: 3rem;
	}
}

small {
	display: inline-block;
	font-size: 0.8rem;
	* + & {
		margin-top: 0.75rem;
	}
}

label {
	font-size: 0.8rem;
	text-transform: uppercase;
	margin-bottom: 0.25rem;
	display: block;
}

input,
textarea,
select {
	background-color: rgba(#000, 0.2);
	border-radius: 4px;
	padding: 0.2rem;
	display: block;
	width: 100%;
	margin-top: 0;
	// border: 2px solid rgba(#fff, 0.4);
}

textarea {
	min-height: 75px;
}

// utility classes

.container {
	margin: 2rem auto;
	padding: 2rem var(--padding);
	max-width: 1000px;
}

form {
	button {
		display: inline-block;
		font-family: inherit;
		color: rgb(21, 32, 43);
		background-color: #fff;
		padding: 0.5rem 1rem;
		font-weight: 600;
		border-radius: 8px;
		justify-self: start;
	}
}

.two-col {
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(max(200px, (100% - 2rem)/2), 1fr)
	);
	gap: 2rem;
	& > * {
		margin-top: 0;
	}
}

.full-col {
	grid-column: 1 / -1;
}

// header styles

nav {
	form {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		& > * {
			margin: 0;
		}
	}
	input {
		display: inline-block;
		width: auto;
		flex-grow: 1;
	}
	button {
		width: 25px;
		height: 25px;
		fill: rgba(#000, 0.4);
		padding: 0;
		background-color: transparent;
		&:hover {
			fill: rgba(#000, 0.2);
		}
	}
	a {
		display: inline-block;
		font-size: 0.8rem;
		text-transform: uppercase;
		& + a {
			margin-left: 0.5rem;
		}
	}
}

// post styles

.post {
	button {
		margin-top: 0;
	}
}

.post-icon {
	width: 10px;
	height: 10px;
	fill: #fff;
	display: inline-block;
	small + &,
	& + * {
		margin-left: 0.25rem;
	}
	&:hover {
		fill: rgba(#fff, 0.7);
	}
}

.upvote:hover {
	fill: #ff4a02;
}

.downvote:hover {
	fill: #0051ff;
}

.active-upvote {
	fill: #ff4a02;
}

.active-downvote {
	fill: #0051ff;
}

// comment styles
